body{
	background-color: rgb(50,50,50);
}

h1,p{
	user-select: none;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	color: white;
}
a{
	margin: 10% 0;
	font-size: 75%;
	cursor: default;

	&:hover{
		color: rgb(200,200,200);
	}
}

.label, #work, #rest,a{
	position: relative;
	top: 25px;
}


.circle{
	position: relative;
	height: 200px;
	width: 200px;
	margin: 50px auto;
	background-color: rgba(0,0,0,0.3);
	box-shadow: inset 0 0 0 2px rgb(240,240,240);
	border-radius: 50%;

}
.work-rotator,.rest-rotator{
    position: absolute;
    top: 2px;
    left: 2px;
    width: 196px;
    height: 196px;
    box-sizing: border-box;
    content: '';

    border: 0 solid transparent;
	border-left-width: 4px;
	border-right-width: 4px;
	border-bottom-width: 4px; 
    border-radius: 50%;

	opacity: 0;

	pointer-events: none;
};
.work-rotator{
	border-top: 4px solid #6ec6ff;
}
.rest-rotator{
	border-top: 4px solid #80e27e;
}
