body{
	background-color: rgb(50,50,50);
}
h1,p{
	user-select: none;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	color: white;
}
a{
	font-size: 75%;
	cursor: default;
}
a:hover{
	color: rgb(200,200,200);
}
.circle{
	height: 200px;
	width: 200px;
	margin: 50px auto;
	background-color: rgba(0,0,0,0.3);
	border: 2px solid rgb(240,240,240);
	border-radius: 50%;
}